
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Thymeleaf - WebSecurity</title>
    <meta charset="utf-8" />

</head>
<body>
<div th:fragment="logout" class="logout"
     sec:authorize="isAuthenticated()">
    Logged user: <span sec:authentication="name"></span> |
    Roles: <span sec:authentication="principal.authorities"></span> |
    <!--/* When using CSRF this needs to be a POST */-->
    <form th:action="@{/logout}" method="post" style="display:inline"><input type="submit" value="Logout"/></form>
</div>
<div sec:authorize="hasAuthority('sysadm')">
    <h1> Secret information, only for admin.</h1>
</div>
<h1 th:text="${msg}">Thymeleaf - WebSecurity.</h1>
<p>This is a demo of Thymeleaf and Spring-Security integration.</p>
<h2>Private pages</h2>
<p>This is a public page, but you can navigate to protected pages to trigger authentication.</p>
<h2>Exception handling</h2>
</body>
</html>